<app-navbar></app-navbar>

<main id="main">
  <!-- =================== Section 2 =================== -->
  <section id="About" class="sec-2 pt-5 mt-5">
    <div class="container">
      <div
        class="row justify-content-lg-between justify-content-center text-lg-start text-center align-items-center"
      >
        <div class="row-text col-lg-5">
          <h2>WHO ARE WE?</h2>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos
            repellat reiciendis doloremque, voluptates inventore libero quisquam
            amet fugit quidem! Id sunt neque vero sed? Eaque fugit minus ea quis
            sequi. <br />Lorem ipsum dolor sit amet consectetur adipisicing
            elit. In facere quos esse dolorem rerum aut harum, exercitationem
            minima non odio vel officiis atque! Fuga non doloremque autem ut,
            nam placeat!
          </p>
          <button class="myBtn2 mb-5" routerLink="/contact">
            Collab with us
          </button>
        </div>
        <div style="width: 550px" class="row-img col-lg-5">
          <img style="width: 100%" src="assets/imgs/sec-2.png" alt="" />
        </div>
      </div>
    </div>
  </section>

  <!-- =================== Section 3 =================== -->
  <section id="Services" class="sec-3">
    <div class="container">
      <div class="row align-items-center text-lg-start text-center p-3">
        <div class="row-lhs col-lg-6">
          <h1>WANT TO BOOST YOUR BUSINESS GROWTH?<br />SOLUTION IS HERE</h1>
        </div>
        <div class="row-rhs col-lg-6">
          <div style="width: 30%" class="row-rhs-img">
            <img class="img-fluid" src="assets/imgs/pixecho.png" alt="" />
          </div>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae vitae
            ad deserunt possimus labore aliquid similique nam consectetur
            doloremque iure minima debitis quos tempore vero nobis, magni ullam
            ea perferendis? Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Quae vitae ad deserunt possimus labore aliquid similique nam
            consectetur doloremque iure minima debitis quos tempore vero nobis,
            magni ullam ea perferendis?
          </p>
          <a routerLink="/services" class="myBtn2 mb-2" style="cursor: pointer"
            >OUR SERVICES</a
          >
        </div>
      </div>
    </div>
  </section>
</main>

<app-footer></app-footer>
