<app-navbar></app-navbar>

<main id="main">
  <!-- =================== Section 4 =================== -->
  <section class="sec-4">
    <div class="container">
      <div class="text-center mb-5">
        <h2>Services</h2>
      </div>
      <div class="row justify-content-between">
        <div class="col-lg-3">
          <div class="cards">
            <i class="fa-solid fa-bullhorn"></i>
            <h6>SOCIAL MEDIA MARKETING</h6>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Inventore perspiciatis veritatis at doloribus sunt
            </p>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="cards">
            <i class="fa-solid fa-chart-simple"></i>
            <h6>Market Analysis</h6>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Inventore perspiciatis veritatis at doloribus sunt
            </p>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="cards card-active">
            <i class="fa-solid fa-magnifying-glass-chart"></i>
            <h6>SEO Consultancy</h6>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Inventore perspiciatis veritatis at doloribus sunt
            </p>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="cards">
            <i class="fa-solid fa-ranking-star"></i>
            <h6>Page Ranking</h6>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Inventore perspiciatis veritatis at doloribus sunt
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- =================== Section 5 =================== -->
  <section class="sec-5">
    <div class="wave-img">
      <div class="container">
        <div class="text-center">
          <h2>HOW DO WE WORK?</h2>
        </div>
      </div>
    </div>
    <!-- =================== Section 6 =================== -->
    <section class="sec-6">
      <div class="container">
        <div class="row">
          <div class="cards-sec-6 col-lg-3 text-center">
            <div class="icons text-center">
              <i class="fa-solid fa-arrows-to-dot first-icon"></i>
            </div>
            <h6>BREIFING</h6>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Inventore
            </p>
          </div>
          <div class="cards-sec-6 col-lg-3 text-center">
            <div class="icons text-center">
              <i class="fa-regular fa-lightbulb second-icon"></i>
            </div>
            <h6>IDEA</h6>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Inventore
            </p>
          </div>
          <div class="cards-sec-6 col-lg-3 text-center">
            <div class="icons text-center">
              <i class="fa-solid fa-gear third-icon"></i>
            </div>

            <h6>PROCESSING</h6>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Inventore
            </p>
          </div>
          <div class="cards-sec-6 col-lg-3 text-center">
            <div class="icons text-center">
              <i class="fa-solid fa-flag"></i>
            </div>

            <h6>FINISHING</h6>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Inventore
            </p>
          </div>
        </div>
      </div>
    </section>
  </section>
</main>

<app-footer></app-footer>
