<!-- =================== Footer =================== -->
<footer>
  <div class="footer-wave">
    <div class="container">
      <div style="width: 100px; padding-top: 145px">
        <img class="img-fluid" src="assets/imgs/pixecho.png" alt="" />
      </div>
      <div
        class="row mt-5 pt-5 text-md-start text-center justify-content-between"
      >
        <div class="footer-info col-md-4">
          <ul>
            <li>
              <h6>CONTACT</h6>
            </li>
            <li>
              <a href="#">
                <p>Fayoum - 43 Baghous St.</p>
              </a>
            </li>
            <li>
              <a href="#">
                <p>+201096637388</p>
              </a>
            </li>
            <li>
              <a href="#">
                <p>+201096637388</p>
              </a>
            </li>
            <li>
              <a href="#">
                <p>info@pixeco.com</p>
              </a>
            </li>
          </ul>
        </div>
        <div class="footer-info col-md-4">
          <ul>
            <li>
              <h6>SOCIAL</h6>
            </li>
            <li>
              <a href="#">
                <i class="fa-brands fa-instagram"></i>
                <p>Pixecho_</p>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa-brands fa-whatsapp"></i>
                <p>+201096637388</p>
              </a>
            </li>
          </ul>
        </div>
        <div class="footer-info col-md-4">
          <ul>
            <li>
              <h6>QUICK LINKS</h6>
            </li>
            <li>
              <a routerLink="/home">
                <p>Home</p>
              </a>
            </li>
            <li>
              <a routerLink="/about">
                <p>About</p>
              </a>
            </li>
            <li>
              <a routerLink="/clients">
                <p>Clients</p>
              </a>
            </li>
            <li>
              <a routerLink="/services">
                <p>Services</p>
              </a>
            </li>
            <li>
              <a routerLink="/contact">
                <p>Contact us</p>
              </a>
            </li>
            <li>
              <a routerLink="/work">
                <p>Our work</p>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="end-footer text-center py-5">
        <h6 style="margin-bottom: 0">
          Copyright ©2024 All rights reserved | This template is made with
          <span>♥</span>
          by
          <a href="https://www.facebook.com/iiAdhaaam" target="_blank"
            >Adham M. Farouk</a
          >
        </h6>
      </div>
    </div>
  </div>
</footer>
